<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!--<ion-header-bar class="bar-stable">-->
      <!--<h1 class="title">Left</h1>-->
    <!--</ion-header-bar>-->
    <ion-content>
        <ion-list>
            <!--TODO: add the condition to show this <a> only if user is logged in-->
            <a class="item item-avatar" href="#">
                <img src="venkman.jpg">
                <h2>Aman Dogra</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <!--TODO: Else show the guest/guest and the login menu item-->
            <ion-item menu-close ng-click="login()">
                Login
            </ion-item>
            <ion-item menu-close href="#/app/albums">
                Browse
            </ion-item>
            <ion-item menu-close href="#/app/genres">
                Genres
            </ion-item>
            <!--TODO: Show "My Playlists" only if the user is logged in-->
            <ion-item menu-close href="#/app/playlists">
                My Playlists
            </ion-item>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>
        </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
