<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar" ui-view="categoryListBlock">
        <!--Placeholder for Category List-->
      </ul>
    </div>
    <!--Show this block if category is selected-->
    <div class="col-sm-9 col-md-10 main">

      <div class="player-block" ui-view="playerBlock"></div>

      <div ng-show="!currentCategory">
        <div class="row" ng-modal="{{category}}" ng-repeat="category in allCategories">
          <strong>{{category.title}}</strong>
          <div class="pull-right">
          <a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
          <hr />
          <div class="pull-left" ng-class="{selected : album.id===currentAlbum && category.id === selectedCat}" ng-modal={{album}} ng-repeat="album in allAlbums | filter: category.id">
            <div class="media pull-left">
              <a href="#">
                <img ng-click="updateSelectedAlbum(album, category)" alt="{{album.title}}" src="{{album.art}}">
              </a>
            </div>
            <div class="media pull-left">
              <h4 class="media-heading">{{album.title}}</h4>
              <p>{{album.artist}}</p>
            </div>
          </div>
          <div ui-view="songListBlock" ng-show="selectedCat === category.id">
            <!-- Placeholder for Song List -->
          </div>
        </div>
      </div>


      <div ng-show="!!currentCategory"  ui-view="albumListBlock" class="row placeholders">
        <!-- Placeholder for Album List -->
      </div>

      <div ng-show="!!currentCategory" ui-view="songListBlock">
        <!-- Placeholder for Song List -->
      </div>
      <footer class="footer">
            <p>&copy; 2013. All copyrights reserved with <a href="#">KrishnaTV.com</a>. Please visit <a href="http://krishnastore.com">Krishna Store</a> for everyhting you need to practice <a href="http://www.krishna.com/krishna-consciousness">Krishna Consciousness</a> at home.</p>
      </footer>
    </div>
  </div>
</div>



