<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="lib/sm2/angular-soundmanager2.min.js"></script>
  </head>

  <body ng-app="starter">
    <ion-nav-view></ion-nav-view>
    <ion-footer-bar>
      <!-- init soundManager2 player -->
      <sound-manager></sound-manager>
      <p class="player-small-empty-info" ng-if="!currentPlaying.id">Please select a track to play</p>
      <div class="player-small" ng-if="!!currentPlaying.id">
        <div class="seek-base" seek-track>
          <div class="seek-load" ng-style="{width : ( progress + '%' ) }"></div>
        </div>
        <a class="player-small-info" href="#">
          <img src="venkman.jpg">
          <h2>{{ currentPlaying.title }}</h2>
          <p>{{ currentPlaying.artist }}</p>
        </a>
        <div pause-music class="ion ion-pause player-button" ng-if="isPlaying"></div>
        <div play-music class="ion ion-play player-button" ng-if="!isPlaying"></div>

      </div>
    </ion-footer-bar>
  </body>
</html>
